In [39]:
from sqlalchemy import create_engine
from minio import Minio
import pandas as pd
import duckdb
import os
import io
from datetime import datetime, timedelta

In [75]:
conn = duckdb.connect('~/my-first-elt-project/docker/db/duckdb/duckdb_dw.duckdb')

In [41]:
client = Minio(endpoint="localhost:9000", access_key='a5926TSNVC2r9J4Y2Eqh', secret_key='3YBQqcerjz5TsV8X851gi3Rl7YNclYQ6UD1MrEPY', secure=False)

In [42]:
engine = create_engine(
    'postgresql+psycopg2://oltp:oltp@localhost:5432/oltp'
)

In [50]:
#DEFINITIONS
tbl_list = ['users', 'products', 'transactions', 'transaction_detail']
bucket_name = 'snapshot'

#DEFINE CURRENT TIME VARIABLES
current_dt_string = datetime.now()
current_date_full = current_dt_string.strftime("%d%m%Y%H%M%S")
current_year = current_dt_string.strftime("%Y")
current_month = current_dt_string.strftime("%m")
current_date = current_dt_string.strftime("%d")

#DEFINE PREVIOUS DAY TIME VARIABLES

prev_dt_string = current_dt_string - timedelta(days=1)
prev_full_date = prev_dt_string.strftime("%d%m%Y%H%M%S")
prev_year = prev_dt_string.strftime("%Y") # prev_year means that the year that last day's data was on, not literally 'last year'
prev_month = prev_dt_string.strftime("%m") # the same rule applies for prev_month and prev_date.
prev_date = prev_dt_string.strftime("%d")

#DEFINE T-2 DAY TIME VARIABLES
t2_dt_string = prev_dt_string - timedelta(days=1)
t2_full_date = prev_dt_string.strftime("%d%m%Y%H%M%S")
t2_year = prev_dt_string.strftime("%Y") # prev_year means that the year that last day's data was on, not literally 'last year'
t2_month = prev_dt_string.strftime("%m") # the same rule applies for prev_month and prev_date.
t2_date = prev_dt_string.strftime("%d")

In [44]:

def create_df_for_t1_day(table_name):
    df_t1 = pd.DataFrame()
    table = table_name
    # for table in tbl_list:
        # t1_dt_obj_list = client.list_objects(bucket_name=bucket_name, prefix=f'{bucket_name}/{table}/2024/06/08/')
    t1_dt_obj_list = client.list_objects(bucket_name=bucket_name, prefix=f'{bucket_name}/{table}/{prev_year}/{prev_month}/{prev_date}/')
    for obj in t1_dt_obj_list:            
        file_path = os.path.basename(obj.object_name)
        object_key = obj.object_name
        print(f'object_key: {object_key}, file_path: {file_path}')

        try:
            response_t1 = client.get_object(bucket_name,object_name=object_key)
            buffer = io.BytesIO(response_t1.read())
            df = pd.read_parquet(buffer)
            df_t1 = pd.concat([df_t1, df], ignore_index=True) #.reset_index(drop=True)
            print(df_t1)       
        
        finally:
            response_t1.close()
            buffer.close()
            response_t1.release_conn()
    return df_t1

In [52]:
def create_df_for_t2_day(table_name):
    df_t2 = pd.DataFrame()
    table = table_name
    # for table in tbl_list:
    t2_dt_obj_list = client.list_objects(bucket_name=bucket_name, 
                                         prefix=f'{bucket_name}/{table}/{t2_year}/{t2_month}/{t2_date}/')
    for obj in t2_dt_obj_list:            
        file_path = os.path.basename(obj.object_name)
        object_key = obj.object_name
        print(f'object_key: {object_key}, file_path: {file_path}')

        try:
            response_t2 = client.get_object(bucket_name, object_name=object_key)
            buffer = io.BytesIO(response_t2.read())
            df = pd.read_parquet(buffer)
            df_t2 = pd.concat([df_t2, df], ignore_index=True)
            print(df_t2)       
            
        finally:
            response_t2.close()
            buffer.close()
            response_t2.release_conn()
    return df_t2

In [46]:
def create_df_for_changes(table_name):
    tbl = table_name
    df1 = create_df_for_t1_day(tbl)
    df2= create_df_for_t2_day(tbl)
    changes = df1[~df1.apply(tuple, 1).isin(df2.apply(tuple, 1))]
    return changes

In [96]:
conn = duckdb.connect('~/my-first-elt-project/docker/db/duckdb/duckdb_dw.duckdb')

In [95]:
def upsert_sql(df, table_name):
    a = []
    target_table_name = table_name
    temp_table = f"{table_name}_temporary_table"
    for col in df.columns:
        a.append(f'"{col}"=EXCLUDED."{col}"')
    conn.execute(f"CREATE TABLE {temp_table} AS SELECT * FROM df")
    conn.execute(f"INSERT INTO {temp_table} SELECT * FROM df")
    
    #df.to_sql(temp_table, engine, if_exists='replace', index=False) 
    set_statement = ', '.join(a)
    upsert_query = f"""
    WITH primary_col_extract AS (
        SELECT a.attname as key_name
        FROM   pg_index i
        JOIN   pg_attribute a ON a.attrelid = i.indrelid
                            AND a.attnum = ANY(i.indkey)
        WHERE  i.indrelid = {target_table_name}::regclass
        AND    i.indisprimary
    )
    INSERT INTO {target_table_name} as tt 
    SELECT * FROM {temp_table} as tmp
    ON CONFLICT
    DO UPDATE SET """
    # combined_query = upsert_query
    print(upsert_query + set_statement)
    conn.execute(upsert_query + set_statement)

In [48]:
def elt_process():
    with open('/home/admin/my-first-elt-project/docker/db/oltp_schema.sql', 'r') as file:
        sql_script = file.read()
    conn.execute(sql_script)
    for t in tbl_list:
        change_df = create_df_for_changes(t)
        upsert_sql(change_df,t)
    conn.close()
    print('data has been upserted successfully')

In [98]:
df = pd.DataFrame({
    'column1': [1, 2, 3],
    'column2': ['A', 'B', 'C'],
    'column3': [1.1, 2.2, 3.3]
})

a= ', '.join([f'"{col}" = EXCLUDED."{col}"' for col in df.columns])
b = f"""
    WITH primary_col_extract AS (
        SELECT a.attname as key_name
        FROM   pg_index i
        JOIN   pg_attribute a ON a.attrelid = i.indrelid
                            AND a.attnum = ANY(i.indkey)
        WHERE  i.indrelid = {tbl_list}::regclass
        AND    i.indisprimary
    )
    INSERT INTO {tbl_list} as tt 
    SELECT * FROM {tbl_list} as tmp
    ON CONFLICT
    DO UPDATE SET """
print(b + a)

    WITH primary_col_extract AS (
        SELECT a.attname as key_name
        FROM   pg_index i
        JOIN   pg_attribute a ON a.attrelid = i.indrelid
                            AND a.attnum = ANY(i.indkey)
        WHERE  i.indrelid = ['users', 'products', 'transactions', 'transaction_detail']::regclass
        AND    i.indisprimary
    )
    INSERT INTO ['users', 'products', 'transactions', 'transaction_detail'] as tt
    SELECT * FROM ['users', 'products', 'transactions', 'transaction_detail'] as tmp
    ON CONFLICT
    DO UPDATE SET "column1" = EXCLUDED."column1", "column2" = EXCLUDED."column2", "column3" = EXCLUDED."column3"

In [97]:
elt_process()

object_key: snapshot/users/2024/06/17/users_snapshot_17062024051430.parquet, file_path: users_snapshot_17062024051430.parquet
          id               name                         email  \
0     IZ6732       EUGENE HUANG  eugene10@adventure-works.com
1     GT9653     BLAKE ANDERSON         bakerjody@example.net
2     ZZ7643             AMY YE          amanda67@example.net
3     WS4471    WENDY DOMINGUEZ     roblesdouglas@example.com
4     CI8362  Jason Matthews MD            ljames@example.com
...      ...                ...                           ...
3191  SM4946        Lisa Keller    sheilaanderson@example.com
3192  FR1629     Jennifer Greer   stephensvalerie@example.net
3193  CD2614   Sarah Strickland           laura06@example.org
3194  ZA0548        Renee Allen     arnolddeborah@example.com
3195  NF1102     Theresa Dawson         mmartinez@example.org

              created_at
0    2024-05-15 13:34:00
1    2024-05-15 18:30:00
2    2024-05-15 18:18:00
3    2024-05-15 15:46:00
4    2024-06-17 08:01:02
...                  ...
3191 2024-06-18 05:01:01
3192 2024-06-18 05:01:01
3193 2024-06-18 05:01:01
3194 2024-06-18 05:01:01
3195 2024-06-18 05:01:01

[3196 rows x 4 columns]
object_key: snapshot/users/2024/06/17/users_snapshot_17062024051430.parquet, file_path: users_snapshot_17062024051430.parquet
          id               name                         email  \
0     IZ6732       EUGENE HUANG  eugene10@adventure-works.com
1     GT9653     BLAKE ANDERSON         bakerjody@example.net
2     ZZ7643             AMY YE          amanda67@example.net
3     WS4471    WENDY DOMINGUEZ     roblesdouglas@example.com
4     CI8362  Jason Matthews MD            ljames@example.com
...      ...                ...                           ...
3191  SM4946        Lisa Keller    sheilaanderson@example.com
3192  FR1629     Jennifer Greer   stephensvalerie@example.net
3193  CD2614   Sarah Strickland           laura06@example.org
3194  ZA0548        Renee Allen     arnolddeborah@example.com
3195  NF1102     Theresa Dawson         mmartinez@example.org

              created_at
0    2024-05-15 13:34:00
1    2024-05-15 18:30:00
2    2024-05-15 18:18:00
3    2024-05-15 15:46:00
4    2024-06-17 08:01:02
...                  ...
3191 2024-06-18 05:01:01
3192 2024-06-18 05:01:01
3193 2024-06-18 05:01:01
3194 2024-06-18 05:01:01
3195 2024-06-18 05:01:01

[3196 rows x 4 columns]

    WITH primary_col_extract AS (
        SELECT a.attname as key_name
        FROM   pg_index i
        JOIN   pg_attribute a ON a.attrelid = i.indrelid
                            AND a.attnum = ANY(i.indkey)
        WHERE  i.indrelid = users::regclass
        AND    i.indisprimary
    )
    INSERT INTO users as tt
    SELECT * FROM users_temporary_table as tmp
    ON CONFLICT
    DO UPDATE SET "id"=EXCLUDED."id", "name"=EXCLUDED."name", "email"=EXCLUDED."email", "created_at"=EXCLUDED."created_at"

BinderException: Binder Error: Can not assign to column 'id' because it has a UNIQUE/PRIMARY KEY constraint