In [2]:
from minio import Minio
import pandas as pd
import os
import io
from datetime import datetime, timedelta

In [3]:
client = Minio(endpoint="localhost:9000", access_key='a5926TSNVC2r9J4Y2Eqh', secret_key='3YBQqcerjz5TsV8X851gi3Rl7YNclYQ6UD1MrEPY', secure=False)

In [4]:
#DEFINITIONS
tbl_list = ['users', 'products', 'transactions', 'transaction_detail']
bucket_name = 'snapshot'

#DEFINE CURRENT TIME VARIABLES
current_dt_string = datetime.now()
current_date_full = current_dt_string.strftime("%d%m%Y%H%M%S")
current_year = current_dt_string.strftime("%Y")
current_month = current_dt_string.strftime("%m")
current_date = current_dt_string.strftime("%d")

#DEFINE PREVIOUS DAY TIME VARIABLES

prev_dt_string = current_dt_string - timedelta(days=1)
prev_full_date = prev_dt_string.strftime("%d%m%Y%H%M%S")
prev_year = prev_dt_string.strftime("%Y") # prev_year means that the year that last day's data was on, not literally 'last year'
prev_month = prev_dt_string.strftime("%m") # the same rule applies for prev_month and prev_date.
prev_date = prev_dt_string.strftime("%d")

In [5]:

def create_df_for_t1_day():
    df_t1 = []
    for table in tbl_list:
        # t1_dt_obj_list = client.list_objects(bucket_name=bucket_name, prefix=f'{bucket_name}/{table}/2024/06/08/')
        t1_dt_obj_list = client.list_objects(bucket_name=bucket_name, prefix=f'{bucket_name}/{table}/{prev_year}/{prev_month}/{prev_date}/')
        for obj in t1_dt_obj_list:            
            file_path = os.path.basename(obj.object_name)
            object_key = obj.object_name
            print(f'object_key: {object_key}, file_path: {file_path}')

            try:
                response_t1 = client.get_object(bucket_name,object_name=object_key)
                buffer = io.BytesIO(response_t1.read())
                df = pd.read_parquet(buffer)
                df_t1.append(df)
                print(df_t1)       
            
            finally:
                response_t1.close()
                buffer.close()
                response_t1.release_conn()
    return df_t1

In [7]:
def create_df_for_t2_day():
    for table in tbl_list:
        t2_dt_obj_list = client.list_objects(bucket_name=bucket_name, prefix=f'{bucket_name}/{table}/{prev_year}/{prev_month}/{prev_date}/')
        for obj in t2_dt_obj_list:            
            file_path = os.path.basename(obj.object_name)
            object_key = obj.object_name
            print(f'object_key: {object_key}, file_path: {file_path}')

            try:
                response_t2 = client.get_object(bucket_name, object_name=object_key)
                buffer = io.BytesIO(response_t2.read())
                df_t2 = pd.read_parquet(buffer)
                print(df_t2)       
                
            finally:
                response_t2.close()
                buffer.close()
                response_t2.release_conn()
    return df_t2

In [8]:
def create_df_for_changes():
    t1_df = create_df_for_t1_day()
    t2_df = create_df_for_t2_day()
    print(t1_df)
    print(t2_df)

In [9]:
create_df_for_changes()

object_key: snapshot/users/2024/06/11/users_snapshot_11062024070127.parquet, file_path: users_snapshot_11062024070127.parquet
[         id               name                            email  \
0    RW6065           JON YANG        jon24@adventure-works.com
1    IZ6732       EUGENE HUANG     eugene10@adventure-works.com
2    WB7662       RUBEN TORRES      ruben35@adventure-works.com
3    YZ6738  ELIZABETH JOHNSON   elizabeth5@adventure-works.com
4    MV5719         JULIO RUIZ       julio1@adventure-works.com
..      ...                ...                              ...
186  MX6782       John Acevedo           jennifer56@example.org
187  SX7709        Robert Hale               leah73@example.net
188  MY3640    Robert Griffith         jacqueline13@example.com
189  BV3594     Elizabeth York          kellyashley@example.net
190  QY3597    Jessica Kennedy  christophermcknight@example.net

             created_at
0   2024-05-15 13:30:00
1   2024-05-15 13:34:00
2   2024-05-15 13:38:00
3   2024-05-15 13:46:00
4   2024-05-15 13:50:00
..                  ...
186 2024-06-12 07:01:01
187 2024-06-12 07:01:01
188 2024-06-12 07:01:01
189 2024-06-12 07:01:01
190 2024-06-12 07:01:01

[191 rows x 4 columns]]
object_key: snapshot/products/2024/06/11/products_snapshot_11062024070127.parquet, file_path: products_snapshot_11062024070127.parquet
[         id               name                            email  \
0    RW6065           JON YANG        jon24@adventure-works.com
1    IZ6732       EUGENE HUANG     eugene10@adventure-works.com
2    WB7662       RUBEN TORRES      ruben35@adventure-works.com
3    YZ6738  ELIZABETH JOHNSON   elizabeth5@adventure-works.com
4    MV5719         JULIO RUIZ       julio1@adventure-works.com
..      ...                ...                              ...
186  MX6782       John Acevedo           jennifer56@example.org
187  SX7709        Robert Hale               leah73@example.net
188  MY3640    Robert Griffith         jacqueline13@example.com
189  BV3594     Elizabeth York          kellyashley@example.net
190  QY3597    Jessica Kennedy  christophermcknight@example.net

             created_at
0   2024-05-15 13:30:00
1   2024-05-15 13:34:00
2   2024-05-15 13:38:00
3   2024-05-15 13:46:00
4   2024-05-15 13:50:00
..                  ...
186 2024-06-12 07:01:01
187 2024-06-12 07:01:01
188 2024-06-12 07:01:01
189 2024-06-12 07:01:01
190 2024-06-12 07:01:01

[191 rows x 4 columns],              id                   product_name  unit_price  \
0     HL-U509-R          Sport-100 Helmet, Red       34.99
1     SO-B909-M         Mountain Bike Socks, M        9.50
2     SO-B909-L         Mountain Bike Socks, L        9.50
3    FR-R72R-44        ML Road Frame - Red, 44      594.83
4    FR-R72R-48        ML Road Frame - Red, 48      594.83
..          ...                            ...         ...
190  FR-T67Y-62  LL Touring Frame - Yellow, 62      285.68
191  BK-R89R-44               Road-250 Red, 44     1863.21
192     RA-H123            Hitch Rack - 4-Bike      104.44
193  BK-R89R-58               Road-250 Red, 58       89.16
194  FR-M21B-42  LL Mountain Frame - Black, 42      243.87

                category
0              Sport-100
1    Mountain Bike Socks
2    Mountain Bike Socks
3          ML Road Frame
4          ML Road Frame
..                   ...
190     LL Touring Frame
191             Road-250
192  Hitch Rack - 4-Bike
193             Road-250
194    LL Mountain Frame

[195 rows x 4 columns]]
object_key: snapshot/transactions/2024/06/11/transactions_snapshot_11062024070127.parquet, file_path: transactions_snapshot_11062024070127.parquet
[         id               name                            email  \
0    RW6065           JON YANG        jon24@adventure-works.com
1    IZ6732       EUGENE HUANG     eugene10@adventure-works.com
2    WB7662       RUBEN TORRES      ruben35@adventure-works.com
3    YZ6738  ELIZABETH JOHNSON   elizabeth5@adventure-works.com
4    MV5719         JULIO RUIZ       julio1@adventure-works.com
..      ...                ...                              ...
186  MX6782       John Acevedo           jennifer56@example.org
187  SX7709        Robert Hale               leah73@example.net
188  MY3640    Robert Griffith         jacqueline13@example.com
189  BV3594     Elizabeth York          kellyashley@example.net
190  QY3597    Jessica Kennedy  christophermcknight@example.net

             created_at
0   2024-05-15 13:30:00
1   2024-05-15 13:34:00
2   2024-05-15 13:38:00
3   2024-05-15 13:46:00
4   2024-05-15 13:50:00
..                  ...
186 2024-06-12 07:01:01
187 2024-06-12 07:01:01
188 2024-06-12 07:01:01
189 2024-06-12 07:01:01
190 2024-06-12 07:01:01

[191 rows x 4 columns],              id                   product_name  unit_price  \
0     HL-U509-R          Sport-100 Helmet, Red       34.99
1     SO-B909-M         Mountain Bike Socks, M        9.50
2     SO-B909-L         Mountain Bike Socks, L        9.50
3    FR-R72R-44        ML Road Frame - Red, 44      594.83
4    FR-R72R-48        ML Road Frame - Red, 48      594.83
..          ...                            ...         ...
190  FR-T67Y-62  LL Touring Frame - Yellow, 62      285.68
191  BK-R89R-44               Road-250 Red, 44     1863.21
192     RA-H123            Hitch Rack - 4-Bike      104.44
193  BK-R89R-58               Road-250 Red, 58       89.16
194  FR-M21B-42  LL Mountain Frame - Black, 42      243.87

                category
0              Sport-100
1    Mountain Bike Socks
2    Mountain Bike Socks
3          ML Road Frame
4          ML Road Frame
..                   ...
190     LL Touring Frame
191             Road-250
192  Hitch Rack - 4-Bike
193             Road-250
194    LL Mountain Frame

[195 rows x 4 columns],           id    transaction_date  total_amount  cash_received  change_due  \
0   WY812221 2024-05-16 10:12:00        485.96          563.0       77.04
1   MA377489 2024-05-16 10:20:00       1444.46         1518.0       73.54
2   LO599271 2024-05-16 10:28:00        121.49          155.0       33.51
3   GW967753 2024-05-16 10:36:00        485.96          550.0       64.04
4   ZC228626 2024-05-16 10:44:00        242.98          336.0       93.02
5   LS244725 2024-05-16 10:52:00       1322.97         1418.0       95.03
6   MH474915 2024-05-16 11:00:00       4886.70         4891.0        4.30
7   OG656174 2024-05-16 11:08:00        485.96          559.0       73.04
8   BW911674 2024-05-16 11:16:00       1444.46         1495.0       50.54
9   TQ438794 2024-05-16 11:24:00       1079.99         1096.0       16.01
10  BT463816 2024-05-16 11:32:00        771.08          795.0       23.92
11  RU955569 2024-05-16 11:40:00        485.96          519.0       33.04
12  YB838246 2024-05-16 11:48:00        485.96          508.0       22.04
13  HY132345 2024-05-16 11:56:00        249.79          336.0       86.21
14  BH381976 2024-05-16 12:04:00       5129.68         5206.0       76.32
15  EN899545 2024-05-16 12:12:00          2.29           66.0       63.71
16  HX466743 2024-05-16 12:20:00        364.47          446.0       81.53
17  NC487723 2024-05-16 12:28:00        485.96          558.0       72.04
18  QO449576 2024-05-16 12:36:00        485.96          581.0       95.04
19  KF165625 2024-05-16 12:44:00        121.49          210.0       88.51
20  WG384831 2024-05-16 12:52:00        121.49          125.0        3.51
21  UP541381 2024-05-16 13:00:00        242.98          283.0       40.02
22  JL733482 2024-05-16 13:08:00        121.49          153.0       31.51
23  LW547841 2024-05-16 13:16:00        364.47          427.0       62.53
24  KW635279 2024-05-16 13:24:00        971.92          992.0       20.08
25  YX489121 2024-05-16 13:32:00        252.97          294.0       41.03
26  JL379144 2024-05-16 13:40:00        121.49          129.0        7.51
27  UI374864 2024-05-16 13:48:00        364.47          392.0       27.53
28  AU568882 2024-05-16 13:56:00        607.45          639.0       31.55
29  LT144974 2024-05-16 14:04:00        242.98          245.0        2.02
30  YB159486 2024-05-16 14:12:00        121.49          141.0       19.51
31  DB385116 2024-05-16 14:20:00        242.98          282.0       39.02
32  AY765116 2024-05-16 14:28:00        364.47          383.0       18.53
33  DF153274 2024-05-16 14:36:00        242.98          321.0       78.02
34  KW236729 2024-05-16 14:44:00        121.49          178.0       56.51
35  CJ731374 2024-05-16 14:52:00        242.98          320.0       77.02
36  WB174242 2024-05-16 15:00:00        485.96          514.0       28.04
37  JO551227 2024-05-16 15:08:00        364.47          446.0       81.53
38  EP231815 2024-05-16 15:16:00        364.47          388.0       23.53
39  AL364937 2024-05-16 15:24:00        485.96          578.0       92.04
40  GN536159 2024-05-16 15:32:00        485.96          549.0       63.04
41  ET352227 2024-05-16 15:40:00        121.49          182.0       60.51
42  RA935887 2024-05-16 15:48:00        485.96          548.0       62.04
43  TF721499 2024-05-16 15:56:00        364.47          443.0       78.53
44  BI239463 2024-06-11 21:09:16       3399.99         3492.0       92.01
45  MG085471 2024-06-11 21:09:16        526.47          588.0       61.53
46  TT023174 2024-06-11 21:09:16        275.58          369.0       93.42
47  KC626258 2024-06-11 21:09:16       2309.21         2355.0       45.79
48  AT001089 2024-06-11 21:09:16       3630.91         3691.0       60.09
49  TP879849 2024-06-11 21:09:16       2764.05         2858.0       93.95
50  NK082791 2024-06-11 21:09:16       5053.82         5092.0       38.18
51  SI673861 2024-06-12 07:01:01         39.14           43.0        3.86
52  SV150532 2024-06-12 07:01:01        470.96          554.0       83.04
53  AF099162 2024-06-12 07:01:01        761.64          780.0       18.36
54  TT212319 2024-06-12 07:01:01        121.49          192.0       70.51
55  GD670906 2024-06-12 07:01:01       2362.32         2411.0       48.68
56  LP253103 2024-06-12 07:01:01         53.99          140.0       86.01
57  SZ594720 2024-06-12 07:01:01        826.38          901.0       74.62
58  QI037919 2024-06-12 07:01:01       2767.31         2801.0       33.69
59  ZP546195 2024-06-12 07:01:01        271.89          306.0       34.11

   user_id
0   IZ6732
1   WB7662
2   SU7989
3   YZ6738
4   MV5719
5   BR2618
6   WW6048
7   VG6492
8   OY4949
9   EN2326
10  DM9669
11  MM2349
12  NJ0686
13  ZO1792
14  CA3616
15  GT0232
16  XP6344
17  YP0630
18  JS7233
19  YZ8302
20  EQ5031
21  KJ6302
22  KT0033
23  AM8799
24  BD7705
25  FH3994
26  OA7457
27  LD0735
28  AB1976
29  YZ8302
30  EQ5031
31  KJ6302
32  KT0033
33  AM8799
34  BD7705
35  FH3994
36  OA7457
37  MV5719
38  BR2618
39  WW6048
40  VG6492
41  OY4949
42  EN2326
43  DM9669
44  LM7235
45  ZA9910
46  OE4602
47  TR0462
48  OH5318
49  UD5673
50  DU0292
51  OA7457
52  YX0541
53  NF4293
54  GK3938
55  GT0232
56  TJ8558
57  KF7258
58  EE8726
59  MY3640  ]
object_key: snapshot/transaction_detail/2024/06/11/transaction_detail_snapshot_11062024070127.parquet, file_path: transaction_detail_snapshot_11062024070127.parquet
[         id               name                            email  \
0    RW6065           JON YANG        jon24@adventure-works.com
1    IZ6732       EUGENE HUANG     eugene10@adventure-works.com
2    WB7662       RUBEN TORRES      ruben35@adventure-works.com
3    YZ6738  ELIZABETH JOHNSON   elizabeth5@adventure-works.com
4    MV5719         JULIO RUIZ       julio1@adventure-works.com
..      ...                ...                              ...
186  MX6782       John Acevedo           jennifer56@example.org
187  SX7709        Robert Hale               leah73@example.net
188  MY3640    Robert Griffith         jacqueline13@example.com
189  BV3594     Elizabeth York          kellyashley@example.net
190  QY3597    Jessica Kennedy  christophermcknight@example.net

             created_at
0   2024-05-15 13:30:00
1   2024-05-15 13:34:00
2   2024-05-15 13:38:00
3   2024-05-15 13:46:00
4   2024-05-15 13:50:00
..                  ...
186 2024-06-12 07:01:01
187 2024-06-12 07:01:01
188 2024-06-12 07:01:01
189 2024-06-12 07:01:01
190 2024-06-12 07:01:01

[191 rows x 4 columns],              id                   product_name  unit_price  \
0     HL-U509-R          Sport-100 Helmet, Red       34.99
1     SO-B909-M         Mountain Bike Socks, M        9.50
2     SO-B909-L         Mountain Bike Socks, L        9.50
3    FR-R72R-44        ML Road Frame - Red, 44      594.83
4    FR-R72R-48        ML Road Frame - Red, 48      594.83
..          ...                            ...         ...
190  FR-T67Y-62  LL Touring Frame - Yellow, 62      285.68
191  BK-R89R-44               Road-250 Red, 44     1863.21
192     RA-H123            Hitch Rack - 4-Bike      104.44
193  BK-R89R-58               Road-250 Red, 58       89.16
194  FR-M21B-42  LL Mountain Frame - Black, 42      243.87

                category
0              Sport-100
1    Mountain Bike Socks
2    Mountain Bike Socks
3          ML Road Frame
4          ML Road Frame
..                   ...
190     LL Touring Frame
191             Road-250
192  Hitch Rack - 4-Bike
193             Road-250
194    LL Mountain Frame

[195 rows x 4 columns],           id    transaction_date  total_amount  cash_received  change_due  \
0   WY812221 2024-05-16 10:12:00        485.96          563.0       77.04
1   MA377489 2024-05-16 10:20:00       1444.46         1518.0       73.54
2   LO599271 2024-05-16 10:28:00        121.49          155.0       33.51
3   GW967753 2024-05-16 10:36:00        485.96          550.0       64.04
4   ZC228626 2024-05-16 10:44:00        242.98          336.0       93.02
5   LS244725 2024-05-16 10:52:00       1322.97         1418.0       95.03
6   MH474915 2024-05-16 11:00:00       4886.70         4891.0        4.30
7   OG656174 2024-05-16 11:08:00        485.96          559.0       73.04
8   BW911674 2024-05-16 11:16:00       1444.46         1495.0       50.54
9   TQ438794 2024-05-16 11:24:00       1079.99         1096.0       16.01
10  BT463816 2024-05-16 11:32:00        771.08          795.0       23.92
11  RU955569 2024-05-16 11:40:00        485.96          519.0       33.04
12  YB838246 2024-05-16 11:48:00        485.96          508.0       22.04
13  HY132345 2024-05-16 11:56:00        249.79          336.0       86.21
14  BH381976 2024-05-16 12:04:00       5129.68         5206.0       76.32
15  EN899545 2024-05-16 12:12:00          2.29           66.0       63.71
16  HX466743 2024-05-16 12:20:00        364.47          446.0       81.53
17  NC487723 2024-05-16 12:28:00        485.96          558.0       72.04
18  QO449576 2024-05-16 12:36:00        485.96          581.0       95.04
19  KF165625 2024-05-16 12:44:00        121.49          210.0       88.51
20  WG384831 2024-05-16 12:52:00        121.49          125.0        3.51
21  UP541381 2024-05-16 13:00:00        242.98          283.0       40.02
22  JL733482 2024-05-16 13:08:00        121.49          153.0       31.51
23  LW547841 2024-05-16 13:16:00        364.47          427.0       62.53
24  KW635279 2024-05-16 13:24:00        971.92          992.0       20.08
25  YX489121 2024-05-16 13:32:00        252.97          294.0       41.03
26  JL379144 2024-05-16 13:40:00        121.49          129.0        7.51
27  UI374864 2024-05-16 13:48:00        364.47          392.0       27.53
28  AU568882 2024-05-16 13:56:00        607.45          639.0       31.55
29  LT144974 2024-05-16 14:04:00        242.98          245.0        2.02
30  YB159486 2024-05-16 14:12:00        121.49          141.0       19.51
31  DB385116 2024-05-16 14:20:00        242.98          282.0       39.02
32  AY765116 2024-05-16 14:28:00        364.47          383.0       18.53
33  DF153274 2024-05-16 14:36:00        242.98          321.0       78.02
34  KW236729 2024-05-16 14:44:00        121.49          178.0       56.51
35  CJ731374 2024-05-16 14:52:00        242.98          320.0       77.02
36  WB174242 2024-05-16 15:00:00        485.96          514.0       28.04
37  JO551227 2024-05-16 15:08:00        364.47          446.0       81.53
38  EP231815 2024-05-16 15:16:00        364.47          388.0       23.53
39  AL364937 2024-05-16 15:24:00        485.96          578.0       92.04
40  GN536159 2024-05-16 15:32:00        485.96          549.0       63.04
41  ET352227 2024-05-16 15:40:00        121.49          182.0       60.51
42  RA935887 2024-05-16 15:48:00        485.96          548.0       62.04
43  TF721499 2024-05-16 15:56:00        364.47          443.0       78.53
44  BI239463 2024-06-11 21:09:16       3399.99         3492.0       92.01
45  MG085471 2024-06-11 21:09:16        526.47          588.0       61.53
46  TT023174 2024-06-11 21:09:16        275.58          369.0       93.42
47  KC626258 2024-06-11 21:09:16       2309.21         2355.0       45.79
48  AT001089 2024-06-11 21:09:16       3630.91         3691.0       60.09
49  TP879849 2024-06-11 21:09:16       2764.05         2858.0       93.95
50  NK082791 2024-06-11 21:09:16       5053.82         5092.0       38.18
51  SI673861 2024-06-12 07:01:01         39.14           43.0        3.86
52  SV150532 2024-06-12 07:01:01        470.96          554.0       83.04
53  AF099162 2024-06-12 07:01:01        761.64          780.0       18.36
54  TT212319 2024-06-12 07:01:01        121.49          192.0       70.51
55  GD670906 2024-06-12 07:01:01       2362.32         2411.0       48.68
56  LP253103 2024-06-12 07:01:01         53.99          140.0       86.01
57  SZ594720 2024-06-12 07:01:01        826.38          901.0       74.62
58  QI037919 2024-06-12 07:01:01       2767.31         2801.0       33.69
59  ZP546195 2024-06-12 07:01:01        271.89          306.0       34.11

   user_id
0   IZ6732
1   WB7662
2   SU7989
3   YZ6738
4   MV5719
5   BR2618
6   WW6048
7   VG6492
8   OY4949
9   EN2326
10  DM9669
11  MM2349
12  NJ0686
13  ZO1792
14  CA3616
15  GT0232
16  XP6344
17  YP0630
18  JS7233
19  YZ8302
20  EQ5031
21  KJ6302
22  KT0033
23  AM8799
24  BD7705
25  FH3994
26  OA7457
27  LD0735
28  AB1976
29  YZ8302
30  EQ5031
31  KJ6302
32  KT0033
33  AM8799
34  BD7705
35  FH3994
36  OA7457
37  MV5719
38  BR2618
39  WW6048
40  VG6492
41  OY4949
42  EN2326
43  DM9669
44  LM7235
45  ZA9910
46  OE4602
47  TR0462
48  OH5318
49  UD5673
50  DU0292
51  OA7457
52  YX0541
53  NF4293
54  GK3938
55  GT0232
56  TJ8558
57  KF7258
58  EE8726
59  MY3640  ,     transaction_id  product_id  quantity  total_amount
0         WY812221     TT-R982         2        242.98
1         WY812221   HL-U509-R         1        121.49
2         WY812221     TI-R982         1        121.49
3         MA377489     TT-R982         2        242.98
4         MA377489  BK-R89B-52         1       1079.99
..             ...         ...       ...           ...
102       QI037919  BK-R89R-52         1       2443.35
103       QI037919   SJ-0194-L         1         53.99
104       QI037919   SB-M891-M         3        269.97
105       ZP546195     SE-M940         3        157.92
106       ZP546195   GL-F110-S         3        113.97

[107 rows x 4 columns]]
object_key: snapshot/users/2024/06/11/users_snapshot_11062024070127.parquet, file_path: users_snapshot_11062024070127.parquet
         id               name                            email  \
0    RW6065           JON YANG        jon24@adventure-works.com
1    IZ6732       EUGENE HUANG     eugene10@adventure-works.com
2    WB7662       RUBEN TORRES      ruben35@adventure-works.com
3    YZ6738  ELIZABETH JOHNSON   elizabeth5@adventure-works.com
4    MV5719         JULIO RUIZ       julio1@adventure-works.com
..      ...                ...                              ...
186  MX6782       John Acevedo           jennifer56@example.org
187  SX7709        Robert Hale               leah73@example.net
188  MY3640    Robert Griffith         jacqueline13@example.com
189  BV3594     Elizabeth York          kellyashley@example.net
190  QY3597    Jessica Kennedy  christophermcknight@example.net
